.message-container {
  background-color: #cfe8fc; /* Light blue background color */
  padding: 20px;
  border-radius: 20px; /* Rounded corners */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Soft shadow effect */
  max-width: 1000px; /* Limit the width of the container */
  max-height: 100px;
  margin: auto; /* Center the container horizontally */
  border-radius: 5px; /* Rounded corners for buttons */
}

.message-table {
  border-collapse: collapse;
  width: 100%;
}

.message-table th, .message-table td {
  padding: 15px; /* Increase padding for better spacing */
  text-align: left;
}

.message-table th {
  background-color: #6eb5a6; /* Green background color */
  color: white;
  
  
}

.message-table td {
  background-color: #b4dde0; /* Light blue background color */
}

.message-table td button {
  background-color: #6eb5a6; /* Green background color for buttons */
  color: white;
  border: none;
  padding: 8px 15px; /* Adjust button padding */
  margin-right: 10px; /* Add margin between buttons */
  cursor: pointer;
  border-radius: 5px; /* Rounded corners for buttons */
}

.message-table td button:hover {
  background-color: #5a9c8d; /* Darker green color on hover */
}
