/* Style the outermost level of the component*/
main {
    /*we r using flexbox, in column mode to stack vertically*/
    display: flex;
    flex-direction: column;
    align-items: center; /*center items*/
    width: 100vw; /*100% of viewport width*/
}

/* Style the button */
button {
    /* make it a rounded square*/
    width: 40px;
    height: 40px;
    border-radius: 5px;
    border-style: none;
    font-size: 1.4rem;
}