/* Left-aligned messages (received) */
.message-left {
    text-align: left;
    /* Add any other styling you need */
}

/* Right-aligned messages (sent) */
.message-right {
    text-align: right;
    /* Add any other styling you need */
}

.message-container {
    display: flex;
    align-items: center;
    border-radius: 20px; /* Adjust the border radius as needed */
    background-color: #2196f3; /* Blue background color */
    padding: 10px 20px; /* Adjust padding as needed */
    margin-bottom: 10px; /* Adjust margin as needed */
    width: fit-content; /* Set the width to fit the content */
  }
  .message-cell {
    transition: background-color 0.3s;
  }
  .message-cell:hover {
    background-color: #2165bf; /* Change to the desired hover background color */
  }
    